/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

a{
	text-decoration: none;
	color: grey;
}

@media(max-width: 500px){
	a{
		border-top: 1px solid black;
		padding: 20px 0;
		font-size: 20px;
		/* display: none; */
	}

	a:last-child{
		border-bottom: 1px solid black;
	}
}

nav{
	display: flex;
	justify-content: space-between;
	width: 500px;
}

@media(max-width: 500px){
	nav{
		flex-direction: column;
		max-width: 100%;
		text-align: center;
		/* display: none; */
	}
}

hr{
	margin: 10px;
	width: 865px;
	align-self: flex-end;
}

@media(max-width: 500px){
	hr{
		max-width: 100%;
		margin: 0;
		/* display: none; */
	}
}

button{
	background-color: white;
	border: 1px solid grey;
	color: grey;
	padding: 10px 40px;
	/* display: none; */
}

h1{
	font-size: 75px;
	/* display: none; */
}


header{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

@media(max-width: 500px){
	header{
		flex-direction: column-reverse;
		align-items: center;
		/* display: none; */
	}
}

p{
	max-width: 400px;
	/* display: none; */
}

.logo{
	margin-right: 100px;
}

@media(max-width: 500px){
	.logo{
		margin-right: 0;
		margin-top: 24px;
		margin-bottom: 20px;
		/* display: none; */
	}
}

.container{
	margin: 0 auto;
	width: 950px;
}

@media(max-width: 500px){
	.container{
		margin: 0;
		max-width: 100%;
		/* display: none; */
	}
}

.Innovation{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 100px 0;
}

@media(max-width: 500px){
	.Innovation .header-img{
		display: none;
	}
}


.biggerRightMargin{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* display: none; */
}

@media(max-width: 500px){
	.biggerRightMargin{
		margin-top: -53px;
	}
}

.first-paragraph-section{
	display: flex;
	margin: 50px 0;
	justify-content: space-between;
}

@media(max-width: 500px){
	.first-paragraph-section{
		flex-direction: column;
		margin-top: 0;
		/* display: none; */
	}

	.first-paragraph-section section{
		margin-top: 50px;
	}
}

.second-paragraph-section{
	display: flex;
	margin: 50px 0;
}

@media(max-width: 500px){
	.second-paragraph-section{
		flex-direction: column;
		margin-top: 0;
		/* display: none; */
	}

	.middle-img{
		max-width: 100%;
		 /* display: none; */
	}

	.second-paragraph-section section{
		margin-top: 50px;
	}
}

.second-paragraph-section p{
	max-width: 250px;
	/* display: none; */
}

#contact{
	display: flex;
	flex-direction: column;
	margin: 40px 0;
	/* display: none; */
}

#phoneNumber{
	margin: 30px 0;
	/* display: none; */
}

.Copyright{
	margin-left: 40%;
}

@media(max-width: 500px){
	 .Copyright{
		margin-left: 34%;
	} 
}

.firstParsec-secondPar{
	margin-right: 110px;
}

@media(max-width: 500px){
	.firstParsec-secondPar{
		margin-right: 0;
		/* display: none; */
	}
}

.middleParagraph{
	margin: 0 25px;
}

@media(max-width: 500px){
	.middleParagraph{
		margin-right: 0;
		margin-left: 0;
		/* display: none; */
	}
}